{{>layout/header}}

<div class="form-group">
  <label for="menu" class="mb-2 mr-sm-2">메뉴 입력</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="menu" placeholder="메뉴 입력 하시오" name="menu">
</div>
<div class="form-group">
  <label for="img_link" class="mb-2 mr-sm-2">이미지 링크 입력</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="img_link" placeholder="메뉴 이미지링크 입력 하시오">
</div>
<button type="button" id="saveBtn" class="btn btn-primary mb-2">메뉴 추가</button>
<br><br>
<br>
<h5>현재 메뉴 출력</h5>
<!--   메뉴들이 쭉 출력 되면 되겠죠 -->
<table class="table table-hover">
  <thead>
    <tr>
      <th>번호</th>
      <th>메뉴</th>
      <th>메뉴이미지</th>
    </tr>
  </thead>
  <tbody>
    {{ #menulist }}
    <tr style="cursor:pointer" onclick="modal_show('{{ id }}', '{{ menu }}', '{{ imgLink }}')">
      <td>{{ id }}</td>
      <td>{{ menu }}</td>
      <td>{{ imgLink }}</td>
    </tr>
    {{ /menulist }}
  </tbody>
</table>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">메뉴수정</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
         <div class="form-group">
          <label for="menu" class="mb-2 mr-sm-2">메뉴 번호</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="m_id" readonly>
        </div>
          <div class="form-group">
          <label for="menu" class="mb-2 mr-sm-2">메뉴</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="m_menu">
        </div>
        <div class="form-group">
          <label for="img_link" class="mb-2 mr-sm-2">이미지 링크</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="m_imglink">
        </div>
        
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          <button type="button" id="updateBtn" class="btn btn-primary">수정</button>
          <button type="button" id="delBtn" class="btn btn-danger">삭제</button>
        </div>
        
      </div>
    </div>
  </div>
  <!-- The Modal -->

<script src="/js/menu.js"></script>
{{>layout/footer}}