{{>layout/header}}

<h5>AI 추천 영상?</h5>
<button type="button" id="rndBtn" class="btn btn-primary mb-2">추천 영상 보기</button>
<div id="div1">추천 영상 보기 누르시면 AI가 추천 하는 영상을 볼 수 있습니다.</div>

<script src="/js/playlist.js"></script>
{{>layout/footer}}